.movieContainer {
    display: flex;
    justify-content: center;
    margin: 0 1rem 0 1rem;

}

.moviesDiv {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.movieDiv {
    object-fit: fill;
    height: 400px;
    width: 18rem;
    overflow: hidden;
    padding: 0.1rem !important;
}

.carouselContainer {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carouselSlide {
    flex: 1 0 20%;
}

@media (max-width: 600px) {
    .carouselSlide {
      flex: 1 0 90%;
      scroll-snap-align: center;
    }
  }

  .carouselContainer::-webkit-scrollbar {
    height: 8px;
  }
  .carouselContainer::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .carouselContainer::-webkit-scrollbar-track {
    background:transparent;
  }
  .carouselContainer::-webkit-scrollbar-track-piece:start {
    background: transparent;
  }